@font-face {
	font-family: 'Muli', sans-serif;
	font-family: 'Lato', sans-serif;
}

/*This puts an outline around the divs*/
div {
	outline: 1px solid #CCCCCC;
}

/*Adding a font family to the page*/
h1 {
	font-family: Lato;
}
/*This is the outer most div of the content*/
#main-content {
	width: 960px;
	height: 600px;
}


/*These are the styles for both buttons--this is the div to hold them.*/
.button-holder {
	width: 180px;
	float: left;
}